<% if profile.background_picture.blank? %>
	<div class="row">
		<div class="col-sm profile-picture-default-background-container"></div>
	</div>
<% elsif !profile.background_picture.blank? %>
	<div class="row">
		<div class="col-sm profile-picture-background-picture-container">
			<%= image_tag profile.background_picture.variant( resize_to_fill: [760, 200, gravity: 'center'] ), class: "profile-pic-med-background" %>
		</div>
	</div>
<% end %>

<% if profile.picture.blank? %>
	<div class="row"> 
		<div class="col-sm"> 
			<%= image_tag "profile_pics/missing.png", class: "profile-pic-med-default" %>
		</div>
	</div>
<% else %>
	<div class="row"> 
		<div class="col-sm"> 
			<%= image_tag profile.picture.variant( resize_to_fill: [130, 130, gravity: 'center'] ), class: "profile-pic-med" %>
		</div>
	</div>
<% end %>

<% profile.snippet_fields.each do |key, val| %>
		<div class="row"> <div class="col-sm"> <b><%= key.capitalize %>:</b> <%= val %> </div> </div>
<% end %>

<div class="row"> 
	<div class="col-sm">
		<b><%= @user.followings_followers.count %></b> followers. <b><%= @user.followings_following.count %></b> Following
	</div>
</div>