<%= render partial: "profiles/show", locals: {profile: @user.profile} %>
<div class="row">
	<div class="col-sm">

		<% if owner?(@user.id) %>
			<%= link_to "Edit Profile", edit_user_profile_path([@user.id, @user.profile.id]), class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<% if allowed_to_follow?(@user) %>
	<%= button_to "Follow", user_followings_path(@user), class: "btn btn-primary" %>
<% end %>

<% if allowed_to_block?(@user) %>
	<%= button_to "Block", user_blockings_path(@user), class: "btn btn-danger" %>
<% end %>


<%= render partial: "tweets/show", collection: @timeline, as: :tweet %>